@model Model.EF.DeltailsMedicalForm

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var rating = new Model.EF.Feedback();
}

<h2 class="mt-3 d-flex justify-content-center">Chi tiết lịch khám</h2>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8 ">
            <section style="background-color: #eee;">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                         class="rounded-circle img-fluid" style="width: 150px;">
                                    <h5 class="my-3">John Smith</h5>
                                    <p class="text-muted mb-1">Full Stack Developer</p>
                                    <p class="text-muted mb-1">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-sm-3">
                                            <p  class=" mb-0"><strong>Thông tin chủ</strong></p>
                                        </div>
                                        
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0"><strong>Họ và tên chủ</strong></p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@Model.MedicalExaminationForm.Client.Name</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0"><strong>Địa chỉ email</strong></p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@Model.MedicalExaminationForm.Client.email</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0"><strong>Số điện thoại</strong></p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@Model.MedicalExaminationForm.Client.Phone</p>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0"><Strong>Địa chỉ</Strong></p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@Model.MedicalExaminationForm.Client.Address</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12">
                            <div class="card card">
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div style="background-color: #f8f9fa;" class="col-xl-2"></div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class=" col-xl-12 mt-3">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <strong>Đánh giá chất lượng dịch vụ</strong>
                </div>
                <div class="card-body">
                    @if (Model.MedicalExaminationForm.Apointment.status == 1)
                    {
                        <p>Cảm ơn bạn đã đánh giá</p>
                    }
                    else
                    {
                        using (Html.BeginForm("leaveComment", "Appointment", FormMethod.Post))
                        {
                            <div style="width:100%" class="form-group d-inline-block float-left">
                                <strong>Bạn đánh giá dịch vụ đạt mấy sao: </strong>
                                <span class="ml-3 text-warning ">
                                    <i class="ratingStar far fa-star" data-value = "1"  ></i>
                                    <i class="ratingStar far fa-star" data-value = "2"  ></i>
                                    <i class="ratingStar far fa-star" data-value = "3"  ></i>
                                    <i class="ratingStar far fa-star" data-value = "4"  ></i>
                                    <i class="ratingStar far fa-star" data-value = "5"  ></i>
                                </span>
                                <input class="EntityID" type="hidden" name="EntityID" id="EntityID"   />
                               
                            </div>


                            <div class="form-group">
                                @**Lay gia tri comment*@
                                <textarea class="form-control" 
                                          cols="20" id="text" 
                                          name="text" placeholder="Hãy chia sẻ cảm nhận của bạn về dịch vụ với chúng tôi ở đây..." row="2" rows="2"></textarea>
                            </div>
                            <button class="btn btn-success float-lg-right" type="submit" >Xác nhận</button>
                        }
                    }

                </div>

            </div>
        </div>
    </div>

</div>

<script>
    $(".ratingStar").hover(function () {
        $(".ratingStar").addClass("far").removeClass("fas");

        $(this).addClass("fas").removeClass("far");
        $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
    });

    $(".ratingStar").click(function () {
        debugger;
        var starValue = $(this).attr("data-value")  
        var values = parseInt(starValue);
        console.log(values);
        $(".EntityID").val(values);
    });
    $("form").serializeArray()
</script>
<p>
    @if (Model.MedicalExaminationForm.Apointment.BookingDate >= DateTime.Now)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.MedicalExaminationForm.id_Appointment })
    }

</p>
